In [1]:
import pandas as pd 
import numpy as np
from scipy import stats as st
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [2]:
df=pd.read_csv('BuyerRatio.csv')
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
obs=np.array([[50,142,131,70],[435,1523,1356,750]])
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [4]:
#chi2 contingency test

In [5]:
chi,p,df,expected=chi2_contingency(obs)

In [6]:
chi

1.595945538661058

In [7]:
p

0.6603094907091882

In [8]:
df

3

In [9]:
expected

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [10]:
#compare alpha with p

In [11]:
alpha = 0.05

In [12]:
if alpha<p:
    print('Reject Null hypothesis')
else:
    print('Fail ti reject the Null hypothesis')

Reject Null hypothesis