In [2]:
import pandas as pd
import numpy as np
from scipy import stats as st
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [3]:
df=pd.read_csv('Costomer+OrderForm.csv')
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [4]:
df.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [5]:
df.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [6]:
df.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [7]:
df.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [8]:
#make contingency array

In [9]:
obs=np.array([[271,267,269,280],[29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [10]:
#chi2 contingency test

In [11]:
chi,p,df,expected=chi2_contingency(obs)

In [12]:
chi

3.858960685820355

In [13]:
p

0.2771020991233135

In [14]:
df

3

In [15]:
expected

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [16]:
aplha=0.05

In [17]:
#compare alpha with p

In [18]:
if p<aplha:
    print('Reject Null Hypothesis')
else:
    print('Fail to reject null hypothesis ')

Fail to reject null hypothesis